{% extends "base_table.html" %}

{% block extra_scripts %}
   <script src="/static/js/content.js"></script>
{% endblock %}

{% block content_title %}
  {{ super() }}
  <small>{{ columns_count|length }} строк, страница {{ page }}</small>
{% endblock %}

{% block content_tab_class %}active{% endblock %}

{% block inner_content %}
    <div id="your_table" data-table="{{ table }}">
</div>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        {% for info in infos %}
          <th style="border-bottom: 1px solid darkgrey">
            <input type="text" style="font-weight: normal" class="form-control column-filter" data-column="{{ loop.index0 }}" placeholder="Фильтр..."><br>
            <a style="color: #db7533;" href="./?ordering={% if ordering == info[1] %}-{% endif %}{{ info[1] }}">{{ info[1] }}</a>
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for column in columns %}
        <tr>
            {% for cell in column %}
            <td style="border: 1px solid darkgrey" contenteditable>{{ cell }}</td>
            {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
  <nav>
    <ul class="pager">
      <li class="{% if not previous_page %}disabled {% endif %}previous">
        {% if not previous_page %}
        <a href=" ">&larr; Предыдущая</a>
        {% else %}
        <a href="{{ url_for('table_content', table=table, page=previous_page, ordering=ordering) }}">&larr; Предыдущая</a>
        {% endif %}
      </li>
      <li>Страница {{ page }} / {{ total_pages }}</li>
      <li class="{% if not next_page %}disabled {% endif %}next">
        {% if not next_page %}
        <a href=" ">Следующая &rarr;</a>
        {% else %}
        <a href="{{ url_for('table_content', table=table, page=next_page, ordering=ordering) }}">Следующая &rarr;</a>
        {% endif %}
      </li>
    </ul>
  </nav>



{% endblock %}
